* {
    margin: 0;
    padding: 0;
}

#playerContainer {
    background-color: rgb(28, 28, 28);
    color: aliceblue;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    border: 1px solid black;
    /* padding: 10px; */
    background-color: black;
    display: flex;
    margin-left: 17%;
    
    /* overflow: hidden; */
    /* position: fixed; */
    /* opacity: 1; */
/* z-index: 1;
     margin-top: -2100px; */
     /* width: ; */
   

}

/* img {
    width: 65px;

} */

#leftDiv {
    display: flex;
    width: 30%;
    height: 70px;
}

#playerButtons {
    display: flex;
}

#trackImgDiv {
    height: 100%;
}

#trackImgDiv>img {
    height: 100%;
    width: 100%;
}

#playerButtons svg {
    margin: 5px 0 0;
    height: 30px;
    width: 30px;
}

#trackTitle {
    margin: 20px 0px 20px 17px;
}

#leftDiv>img {
    /* height: 100%; */
    width: 30px;
    margin: 20px;
}

#middileDiv {
    width: 60%;
}

#playerButtons {
    margin: 10px 39% 10px 35%;
}

#playerLine {
    width: 80%;
    height: 5px;
    margin: -7px 2%;
    /* background-color: #a19292; */
    border-radius: 50px;
}

#playerLine>input {
    width: 100%;
}

/* //bdsjbjbds */

#rightDiv {
    width: 20%;
    display: flex;
}

#rightDiv>div {
    height: 24px;
    width: 26px;
    margin-top: 24px;
}

#rightDiv>div:nth-child(1) {
    /* border: 1px solid red; */
    margin-left: 35%;
    /* margin: 1000px; */
}

#rightDiv>div>img {
    width: 100%;
}

#valumeDiv>div {
    margin-top: 10px;
    border-radius: 50px;
    margin-left: 10px;
    height: 5px;
    width: 109px;
    /* background-color: #c2bdbd; */
}

#playerLine {
    position: relative;
    width: 95%;

}

#trackRange {
    -webkit-appearance: none;
    width: 100%;
    background-color: #ccc7c7;
    height: 5px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

#trackRange:hover ::-webkit-slider-thumb {
    -webkit-appearance: default-button;
}

#trackRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 20px;
    background-color: black;
    box-shadow: -400px 0 0 400px rgb(255, 255, 255);
}

/* #playPouseButtonDiv{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#playPouseButton{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d3cdcd;
    cursor: pointer;
    border: none;
}
#playPouseButton > span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 7px;
height: 21px;
    border-radius: 2px;
    background-color: aqua;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#playPouseButton span:nth-child(2){
    left: 55%;
    transform-origin: center;
}
#playPouseButton#pouse span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}
#playPouseButton#pouse span:nth-child(1){
    position: absolute;
    width: 35%;
    left: 53%;
    transform: translate(-50%, 50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 54%, 100% 53%, 0% 100%);

} */
#playPouseButton>img {
    height: 30px;
    width: 30px;
    padding: 3px 2px 0 4px;
}

#playPouseButton {
    margin: 0 20px;
    border-radius: 50px;
    border: none;
    background-color: #f0eaea;
}

#volumeRange>input {
    padding-top: 11px;
    width: 100%;
}
#playerLineDiv{
    display: flex;
    width: 95%;
}
svg{
    fill: rgb(191, 191, 191);
}
#currentTimeing{
    margin-left: 2%;
}
#songTimeing{
    margin-right: 10%;
}