* {
    margin: 0;
    padding: 0;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

body{
    background-color: #181818;
    display: flex;
    flex-direction: row;
}

#rightside {
    background-color: rgb(26, 25, 25);
    width: 100%;
    margin-left:17%;

}

#categoryheader {
    color: white;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom:30px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 80px;
}


#container {
    /* display: flex; */
    /* flex-direction: row; */
    background-color: #181818;
    width: 100%;
}

.playlists {

    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-gap: 20px; */
    /* margin: 5%; */
    grid-row-gap: 20px;
}

.playlists>div {
    background-color: #212020;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5%;
    /* position: absolute; */
    /* border: 3px solid red; */
}



#container>div {
    margin: 10px;
    padding: 10px;
    background-color: #212020;
    color: white;
    border-radius: 5px;
    height: 70%;
}
.imgDiv{
    position: relative;
}

#container img {
    /* height: 10vw;
    border-radius: 5px; */
    height: 70%;
    border-radius: 5px;
    width: 100%;

}

.description {
    height: 14%;
    /* background-color: red; */
    /* white-space: nowrap; */
    width: 100%;
    /* height: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    height: 6%;
    /* background-color: red; */
    /* white-space: nowrap; */
    width: 100%;
    /* height: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7% 0;
}

.playButton {
    display: none;
    /* background-color: green; */
    position: relative;
    top: -48px;
    left: 135px;
    
    /* margin-left: 160px; */
    height: 20%;
    width: 20%;
     /* border: 3px solid red; */
}

.playlists>div:hover {
    background-color: #2d2c2c;
}

.playlists>div:hover span {
    display: block;
    
}

h2 {
    font-size: 17px;
}

p {
    font-size: 14px;
    color: rgb(174, 173, 173);
}

h1 {
    font-size: 25px;
}

