
body{
    margin: 0%;
}

/* GET premium */
#getPremium{
    position: relative;
    /* margin: 0px 118.704px; */
    background-color: #1D75DE;
    padding: 72px 0px;
}

#getPremium *{
    text-align: center;
    color: #FFFFFF;
    
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

#getPremium>h1
{
   font-size: 40px; 
}

#getPremium>h2
{
   font-size: 24px; 
   font-weight: 100;
   margin: 30px 0px 0px;
}
#getPremium>div>button:nth-child(1){
    
    padding: 14px 32px;
    background-color: #000000;
    border-radius: 500px;
    margin: 35px 0px 0px ;
    font-size: 14px; 
}
#getPremium>div>button:nth-child(2){
    padding: 14px 32px;
    background-color: #1D75DE;
    border-radius: 500px;
    margin: 35px 0px 0px ;
    font-size: 14px; 
    border-color: #FFFFFF;
}
#getPremium>div>button:hover{
    cursor: pointer;
    font-size: 14.5px; 
}

#getPremium>p{
    margin: 36px 0px 0px;
    font-size: 11px; 
}

/* introduction */

#introduction{
    margin: -29px 0px;
    background-color: #000000;
    color: #FFFFFF;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    text-align: center;
}

#introduction> h1{
    font-size: 40px; 
    padding: 60px 0px 18px 0px;
}
#introduction> h2{
    margin-bottom: -10px;
    font-weight: 100;
}
#introduction> div>button{
    margin-top: 60px;
    padding: 14px 32px;
    border-radius: 500px;
    font-size: 14px; 
}

#introduction>div>button:hover{
    cursor: pointer;
    font-size: 14.8px; 
}
#introduction>p{
    margin: 36px 0px ;
    font-size: 11px; 
    padding-bottom: 38px;
    text-decoration: underline;
}


#power{
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin: 0px 174px;
    padding-bottom: 100px;
}

#power>h2{
    font-size: 40px; 
    padding: 60px 0px 18px 0px;
    text-align: center;
}
#power>div{
    display: flex;
    width: 100%;
}
#power>div>div{
    
    text-align: center;
    width: 80%;
    padding: 10px;
}
#power>div>div>img{
    
    margin: 0px 71.5px 40px;
    width: 40%;
    margin: auto;
    border-radius: 50%;
}
#power>div>div>p:nth-child(3){
    
    font-size: 16px;
}
#power>div>div>p:nth-child(2){
    font-weight: 550;
    font-size: 20px;
}






#connect{
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    padding: 0px 174px;
    padding-bottom: 100px;
    background-color: #000000;
    color:white;
}

#connect>h2{
    font-size: 40px; 
    padding: 60px 0px 18px 0px;
    text-align: center;
}
#connect>div{
    display: flex;
    width: 100%;
}
#connect>div>div{

    text-align: center;
    width: 70%;
    padding: 10px;
}
#connect>div>div>img{

    margin: 0px 71.5px 10px 71.5px;
    width: 60%;
    margin: auto;
}
#connect>div>div>p:nth-child(3){
    
    font-size: 16px;
}
#connect>div>div>p:nth-child(2){
    font-weight: 550;
    font-size: 20px;
}




#pickPremium{
    text-align: center;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-bottom: 100px;

}

#pickPremium>h2{
    font-size: 40px;
}
#pickPremium>div{
    text-align: left;
    display: flex;
    width: 82%;
    margin: auto;
    
    gap: 20px;
}

#pickPremium>div>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 16px;
}
#pickPremium>div>div>div{
    border: 1px solid;
    padding: 4px 8px;
    width: fit-content;
    font-size: 14px;
    color: #2E77D0;
    border-radius: 4px;
    font-weight: 550;
}

.freeMonth{
    background-color: #2E77D0;
    color: white !important;
    margin-bottom:10px ;
    
    
}

#pickPremium>div>div>h3{
    font-size: 24px;
    line-height: 1px;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}
#pickPremium>div>div>p{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    line-height: 16px;
    
}

#pickPremium>div>div>button{
    width: 100%;
    padding: 14px 32px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 550;
    border-radius: 30px;
    margin-bottom: 16px;
}
#pickPremium>div>div>button:hover{
    cursor: pointer;
    font-size: 14.7px;
}
#pickPremium>div>div>a{
    font-size: 12px;
    text-decoration: none;
    text-decoration: underline;
    color: #000000;
    margin-top:  16px;

}

@media only screen and (max-width:700px){
    #getPremium>h2
    {
    font-size: 20px; 
    font-weight: 100;
    margin: 20px 0px 0px;
    }

    
    #getPremium>h1
    {
    font-size: 30px; 
    }

    #getPremium>div>button:nth-child(1){
    
        padding: 14px 32px;
        background-color: #000000;
        border-radius: 500px;
        margin: 35px 0px 0px ;
        font-size: 12px; 
    }
    #getPremium>div>button:nth-child(2){
        padding: 14px 32px;
        font-size: 12px; 
        border-color: #FFFFFF;
    }
    #getPremium>p{
        margin: 30px 0px 0px;
        font-size: 7px; 
    }
    
#introduction> h1{
    font-size: 30px; 
    padding: 50px 0px 13px 0px;
}
#introduction> h2{
    margin-bottom: -10px;
    font-weight: 100;
}
#introduction> div>button{
    margin-top: 50px;
    padding: 14px 32px;
    border-radius: 500px;
    font-size: 10px; 
}
#introduction>p{
    margin: 36px 0px ;
    font-size: 8px; 
}

#power{
    margin: 0px 0px;
    padding-bottom: 100px;
}
#power>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin: auto;
}

#power>div>div>img{
    
    margin: 0px 71.5px 20px;
    width: 30%;
}
#power>div>div>p:nth-child(3){
    
    font-size: 11px;
}
#power>div>div>p:nth-child(2){
    font-weight: 550;
    font-size: 15px;
}

#connect{
    padding: 0px ;
}
#connect>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin: auto;
}

#connect>div>div>img{

    margin: 0px 71.5px 10px 71.5px;
    width: 40%;
    margin: auto;
}
#connect>div>div>p:nth-child(3){
    
    font-size: 11px;
}
#connect>div>div>p:nth-child(2){
    font-weight: 550;
    font-size: 15px;
}

#pickPremium>h2{
    font-size: 30px;
}
#pickPremium>h3{
    font-size: 20px;
}
#pickPremium>div{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 80%;
    
    margin: auto;
    
    gap: 20px;
    justify-content: center;
    
}
#pickPremium>div>div>button{
    margin-bottom: 10px;
    /* margin-top: -1px; */
}

}



