body{
    background-color: black;
    margin-left: 17%;
    margin-right: 50px;
    color: #b3b3b3;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}


#albumInfo{
    display: flex;

    /* border: 1px solid white; */
    color: aliceblue;
    padding: 30px;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
}



#albumInfo>div:nth-child(1){
   
    width: 210px;
    
}
#albumInfo>div:nth-child(1)>img{
    width: 210px;
    height: 210px;
}

#albumInfo>div:nth-child(2)>h2{
    margin-top: 6%;
    
    font-size: 12px;

}
#albumInfo>div:nth-child(2){

    padding: 20px;
}
#albumInfo>div:nth-child(2)>h1{
    
    margin: -5px 0px 9px 0px ;
    font-size: 2.7vw;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    
}

#albumInfo>div:nth-child(2)>img{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    border-radius: 50%;
}

#albumInfo>div:nth-child(2)>span{
    font-size: 14px ;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}




#title{
    display: flex;
    flex-direction: column;
    /* width: 140%; */
    
}

#title>div{
    display: flex;
    margin-top: 5px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
    /* padding: 0px 16px; */
}

#title>div:hover{
    cursor: pointer;
    background-color: #232323;
}


#title>div>div:nth-child(1){
    
    width: 5%;
}
#title>div>div:nth-child(2){
    width: 88%;
}
#title>div>div:nth-child(3){
    font-size: 14px;
    color: #b3b3b3;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}

#title h4{
    font-size: 15px;
    text-align: center;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    color: white;
    margin: 12px;
}

#titleHead:hover{
    
    background-color: black !important;
}

#title h3{
    /* margin: 15px; */
    font-size: 15px;
    /* color: red; */
    color: white;
    margin-top: 0px;
    margin-bottom: -9px;
    /* margin-left: 5px; */
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

#title p{
    font-size: 13px;
    /* margin-left: 5px; */
    margin-bottom: 0px;
    color: #b3b3b3;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

#titleHead{
    border-bottom: 0.5px solid #515151;
    margin-bottom: 5px;
    /* padding-bottom: 150px; */
}

#title+div{
    margin-top: 40px;
    margin-bottom: 50px;
}
#title+div>h2{
    color: #FFFFFF;
}
#recommendedSongs{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    /* width: 140%; */
    
}

#recommendedSongs>div{
    display: flex;
    margin-top: 5px;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0px 16px; */
}
#recommendedSongs>div:hover{
    cursor: pointer;
    background-color: #232323;
}
#recommendedSongs>div>div{
    padding: 2px;
}

#recommendedSongs>div>div:nth-child(1){
    width: 5%;
}
#recommendedSongs>div>div:nth-child(2){
    width: 87%;
}
#recommendedSongs>div>div:nth-child(3){
    font-size: 14px;
    
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}



#recommendedSongs img{
    width: 2.5rem;
    margin-top: 5px;
    margin-left: 5px;
    
    /* display: block; */
}

#recommendedSongs h3{
    font-size: 15px;
    /* color: red; */
    color: white;
    margin-top: 0px;
    margin-bottom: -10px;
    /* margin-left: 5px; */
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

#recommendedSongs p{
    font-size: 13px;
    /* margin-left: 5px; */
    margin-bottom: 0px;
    color: #b3b3b3;
    font-family:  var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

