*{
    margin: 0;
    padding: 0;
    /* color: white; */
    font-family: Helvetica,Arial,sans-serif;
    /* color: white; */
}

#side_bar{
    width: 17%;
    height: 100vh;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction:column;
    
}
.sidebar_div{
    /* border: 1px solid white; */
    width: 60%;
    align-items: center;
    display: flex;
    align-items: center;justify-content: start;
    gap: 10px;
    margin-top: 20px; ;
    color: gray;
    margin-left: 10px;
    font-size: 15px;
    background: none;

}
.sidebar_div b{
    background: none;
}
 .sidebar_div_a{
    text-decoration: none;
    color: rgb(177, 177, 177);
    background: none;
} 
#side_image{
    background: none;
}
.sidebar_div_a:hover{
    color: white;
}

#side_playlist{
    margin-top: 50px;
}

.playlistadd{
    color: rgb(88, 85, 85);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    cursor: pointer;
    margin-left: -35px;
    /* gap: 20px; */
    background: none;
    
}

#palylist_container
{
    background: none;
}
.playlistadd a{
    color: green;
}
.playlistadd:hover{
color: white
;
}
.playlistdiv{
    height: 70px;
    width: 10%;
    border: 1px solid red;
    background-color: green;
}      
#create_playlist{
    background: none;
} 